<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">
    
    <link rel="stylesheet" href="../public/css/custom-bs.css">
    <link rel="stylesheet" href="../Public/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../Public/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../Public/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../Public/fonts/line-icons/style.css">
    <link rel="stylesheet" href="../Public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Public/css/animate.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../Public/css/style.css">
</head>

<body>
    <h1>Welcome</h1>
</body>

</html>